<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Webpack Study</title>
  </head>
  <body>
     <div class="outerContainer">
       <!--
         Using EJS enables allows the user of includes. Common templates
         can be included for maintainability.
     -->
       <%- include partials/test -%>
       <%- include partials/_footer_common -%>
     </div>

  </body>
</html>
